<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN"
	  "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="mootools-core-1.4.js" type="text/javascript"></script>
    <script src="mootools-more-1.4.js" type="text/javascript"></script>
    <script src="data.js" type="text/javascript"></script>
    <script src="index.js" type="text/javascript"></script>
    <link href="index.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="content">
      <div id="left"></div>
      <div id="right"></div>
    </div>
    <div id="header"></div>
    <div id="list"></div>
  </body>
</html>
