html
{
  overflow: hidden; /* IE7 */
}

body
{
  padding: 0;
  margin: 0;
  border: 0;
}

h2
{
  margin: 1em;
  font-family: monospace;
}

#gallery
{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
}

#gallery a, #gallery a:active, #gallery a:focus
{
  outline: none;
}

#gallery #header
{
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: #000;
  font-family: sans-serif;
  padding: 0.5em;
  z-index: 2;

  opacity: 0.7;
  filter: alpha(opacity=70);
}

#gallery #header a
{
  text-decoration: none;
  color: #fff;
}

#gallery #header a:hover
{
  text-decoration: underline;
}

#gallery #content
{
  position: absolute;
  top: 0;
  left: 0;
}

#gallery #content img
{
  position: absolute;
}

#gallery #content #left
{
  position: absolute;
  left: 0;
  width: 5%;
  top: 0;
  height: 100%;
  z-index: 1;
  background: url(left.png) no-repeat;
  background-position: center;
}

#gallery #content #right
{
  position: absolute;
  right: 0;
  width: 5%;
  top: 0;
  height: 100%;
  z-index: 1;
  background: url(right.png) no-repeat;
  background-position: center;
}

#gallery #content #left,
#gallery #content #right
{
  opacity: 0;
  filter: alpha(opacity=0);
}

#gallery #content #left:hover,
#gallery #content #right:hover
{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

#gallery #list
{
  position: absolute;
  right: 0;
  top: 0;
  background: #555;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;

  box-shadow: inset 0 5px 5px #000;
  -moz-box-shadow: inset 0 5px 5px #000;
  -webkit-box-shadow: inset 0 5px 5px #000;
}

#gallery #list img
{
  border: 2px solid #111;

  box-shadow: 5px 5px 5px #333;
  -moz-box-shadow: 5px 5px 5px #333;
  -webkit-box-shadow: 5px 5px 5px #333;
}

#gallery #list img.current
{
  border: 2px solid #f00;
}

#gallery #list img:hover
{
  border: 2px solid #fff;
}

#gallery #list img.current:hover
{
  border: 2px solid #f00;
}
