<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui" />
    <noscript>
      <meta http-equiv="refresh" content="0;url=noscript.html" />
    </noscript>
    <script src="mootools-core-1.4.js" type="text/javascript"></script>
    <script src="overview.js" type="text/javascript"></script>
    <link href="overview.css" rel="stylesheet" type="text/css" />
  </head>
  <body><div id="overview"></div></body>
</html>
